  body {
    --Typography-Title-font-size: 35;
    --Typography-Title-line-height: 38;
    --Typography-Caption-font-size: 15;
    --Typography-Caption-line-height: 19;
    --Typography-Body-font-size: var(--Typography-Lead-font-size);
    --Typography-Body-line-height: var(--Typography-Lead-line-height);
    --Typography-Body-letter-spacing: var(--Typography-Lead-letter-spacing);
    --Sizing-XXXS: 16;
    --Typography-Section-font-size: 24;
    --Typography-Section-line-height: 28;
    --Typography-Section-letter-spacing: 0.5;
    --Viewport-min-width: 360;
    --Mask-Phone-topBottom: 161;
    --Mask-Phone-leftRight: 0;
    --Mask-Tablet-topBottom: 94;
    --Mask-Tablet-leftRight: 41;
    --Mask-Tablet-radius: 4;
    --Sizing-XL: 64;
    --Typography-Lead-font-size: 15;
    --Typography-Lead-line-height: 24;
    --Sizing-XS: 32;
    --Sizing-XXXL: 96;
    --Sizing-M: 56;
    --Viewport-container-radius: 4;
    --Sizing-XXXXL: 144;
    --Viewport-blockList-height: 504;
    --Viewport-switch-phoneTablet: "mobile";
    --Viewport-max-width-textColumnGeneral: 720;
    --Typography-TitleSub-font-size: 26;
    --Typography-TitleSub-line-height: 32;
    --Sizing-S: 56;
    --Typography-Notes-font-size: 15;
    --Typography-Notes-line-height: 21;
    --Viewport-blockDetail-max-width-title: 720;
    --Viewport-maximum-width: 360;
    --Sizing-XXS: 24;
    --Mask-Laptop-radius: 5;
    --Mask-Laptop-topBottom: 137;
    --Mask-Laptop-leftRight: 64;
    --Mask-FullWidthVideo-topBottom: 112;
    --Mask-FullWidthVideo-leftRight: 56;
    --Mask-FullWidthImage-min-largeness: 560;
    --Mask-Tablet-min-length: 600;
    --Mask-Laptop-min-length: 500;
    --Mask-Phone-min-length: 760;
    --Mask-Desktop-radius: 5;
    --Mask-Desktop-topBottom: 137;
    --Mask-Desktop-leftRight: 64;
    --Mask-Desktop-min-length: 500;
    --Viewport-switch-phone: "phone";
    --Typography-SectionSub-font-size: 20;
    --Typography-SectionSub-line-height: 23;
    --Typography-SectionSub-letter-spacing: 0.75;
    --Sizing-XXL: 88;
    --Sizing-XXXXXXL: 180;
    --Typography-Subtitle-font-size: 16;
    --Typography-Subtitle-line-height: 20;
    --Typography-Subtitle-letter-spacing: 1;
    --Viewport-menu-brand-fontSize: 20;
    --Viewport-menu-menu-height: 120;
    --Sizing-XXXXXL: 156;
    --Viewport-switch-all: "phone";
    --Viewport-margin-top-header: 188;
    --Viewport-qute-width: 24;
    --Viewport-sound-icon-opacity: 100;
    --Viewport-thickness-conceptImg: 4;
    --Viewport-blockList-button-opacity: 100;
    --Headline-definethebrand-width: 365;
    --Headline-thebrand-width: 212;
    --Headline-writethemusic-width: 330;
    --Headline-themusic-width: 201;
    --Headline-designthebrand-width: 359;
    --Headline-height-group: 78;
    --Headline-mixthemusic-width: 279;
    --Headline-launchthebrand-width: 379;
    --Headline-sharethemusic-width: 335;
    --Mask-Artwork-radius: 8;
    --Viewport-blockDetail-tag-distance: 8;
    --Viewport-blockDetail-noise-opacity: 32;
    --Viewport-conceptimage-size: 64;
    --Viewport-blockDetail-background-height: 120;
    --Viewport-blockList-background-opacity-default-fine: 24;
    --Viewport-blockList-text-opacity-default: 100;
    --Viewport-blockList-gradient: true;
    --Viewport-menu-button-side-margin: 20;
    --Viewport-blockList-bottom-height: 0;
    --Viewport-blockList-max-width-title: var(--Viewport-blockDetail-max-width-title);
    --Viewport-blockList-max-width-textColumn: var(--Viewport-blockDetail-max-width-textColumn);
    --Viewport-blockDetail-max-width-textColumn: var(--Viewport-max-width-textColumnGeneral);
    --Viewport-pricing-min-width: 280;
    --Sizing-L: 56;
    --Viewport-devices-height: 104;
    --Viewport-devices-radius: 3;
    --Viewport-conceptimage-itemminwidth: 232;
    --Viewport-conceptimage-pluswidth: 296;
    --Viewport-conceptimage-max-component-width: 320;
    --Viewport-conceptimage-plusheight: 0;
    --Viewport-conceptimage-max-component-height: 686;
    color: red!important;
  }