  body {
    --Typography-Body-line-height: var(--Typography-Lead-line-height);
    --Typography-Body-letter-spacing: var(--Typography-Lead-letter-spacing);
    --Sizing-XXXS: 24;
    --Viewport-min-width: 1140;
    --Mask-Phone-topBottom: 210;
    --Mask-Phone-leftRight: 0;
    --Mask-Tablet-topBottom: 311;
    --Mask-Tablet-leftRight: 206;
    --Sizing-XXXL: 140;
    --Sizing-XXXXL: 168;
    --Mask-Laptop-topBottom: 336;
    --Mask-Laptop-leftRight: 220;
    --Mask-FullWidthVideo-topBottom: 485;
    --Mask-FullWidthVideo-leftRight: 424;
    --Mask-FullWidthImage-min-largeness: var(--Viewport-min-width);
    --Mask-Tablet-min-length: 1440;
    --Mask-Laptop-min-length: 1436;
    --Mask-Phone-min-length: 1208;
    --Mask-Desktop-topBottom: 336;
    --Mask-Desktop-leftRight: 220;
    --Mask-Desktop-min-length: 1436;
    --Sizing-XXL: 136;
    --Sizing-XXXXXXL: 256;
    --Typography-Subtitle-letter-spacing: 1;
    --Sizing-XXXXXL: 200;
    --Viewport-switch-all: "laptop";
    --Viewport-margin-top-header: 184;
    --Viewport-thickness-conceptImg: 9;
    --Headline-definethebrand-width: 856;
    --Headline-thebrand-width: 497;
    --Headline-themusic-width: 470;
    --Viewport-conceptimage-size: 200;
    --Viewport-blockDetail-background-height: 72;
    --Viewport-blockList-bottom-height: 72;
    --Viewport-blockList-max-width-title: var(--Viewport-blockDetail-max-width-title);
    --Viewport-blockList-max-width-textColumn: var(--Viewport-blockDetail-max-width-textColumn);
    --Viewport-blockDetail-max-width-textColumn: var(--Viewport-max-width-textColumnGeneral);
    --Viewport-devices-height: 206;
    --Viewport-conceptimage-itemminwidth: 200;
    --Viewport-conceptimage-max-component-width: 1144;
    --Viewport-conceptimage-plusheight: 200;
    --Viewport-conceptimage-max-component-height: 1144;
  }