  body {
    --Typography-Title-font-size: 72;
    --Typography-Title-line-height: 75;
    --Typography-Caption-line-height: 20;
    --Typography-Body-font-size: var(--Typography-Lead-font-size);
    --Typography-Body-line-height: var(--Typography-Lead-line-height);
    --Typography-Body-letter-spacing: var(--Typography-Lead-letter-spacing);
    --Sizing-XXXS: 24;
    --Typography-Section-font-size: 30;
    --Typography-Section-line-height: 38;
    --Viewport-min-width: 768;
    --Mask-Phone-topBottom: 168;
    --Mask-Phone-leftRight: 2;
    --Mask-Tablet-topBottom: 280;
    --Mask-Tablet-leftRight: 184;
    --Sizing-XL: 96;
    --Typography-Lead-line-height: 28;
    --Sizing-XS: 40;
    --Sizing-XXXL: 128;
    --Sizing-M: 56;
    --Viewport-container-radius: 4;
    --Sizing-XXXXL: 164;
    --Viewport-blockList-height: 596;
    --Viewport-switch-phoneTablet: "mobile";
    --Viewport-max-width-textColumnGeneral: 720;
    --Typography-TitleSub-font-size: 39;
    --Typography-TitleSub-line-height: 49;
    --Sizing-S: 56;
    --Typography-Notes-line-height: 21;
    --Viewport-blockDetail-max-width-title: 640;
    --Viewport-maximum-width: 768;
    --Sizing-XXS: 24;
    --Mask-Laptop-topBottom: 301;
    --Mask-Laptop-leftRight: 182;
    --Mask-FullWidthVideo-topBottom: 299;
    --Mask-FullWidthVideo-leftRight: 241;
    --Mask-FullWidthImage-min-largeness: var(--Viewport-min-width);
    --Mask-Tablet-min-length: 1280;
    --Mask-Laptop-min-length: 1040;
    --Mask-Phone-min-length: 896;
    --Mask-Desktop-topBottom: 301;
    --Mask-Desktop-leftRight: 182;
    --Mask-Desktop-min-length: 1040;
    --Typography-SectionSub-font-size: 26;
    --Typography-SectionSub-line-height: 30;
    --Sizing-XXL: 112;
    --Sizing-XXXXXXL: 220;
    --Typography-Subtitle-font-size: 17;
    --Typography-Subtitle-line-height: 21;
    --Typography-Subtitle-letter-spacing: 1;
    --Viewport-menu-brand-fontSize: 22;
    --Viewport-menu-menu-height: 120;
    --Sizing-XXXXXL: 184;
    --Viewport-switch-all: "tablet";
    --Viewport-margin-top-header: 212;
    --Viewport-qute-width: 32;
    --Viewport-sound-icon-opacity: 100;
    --Viewport-thickness-conceptImg: 7;
    --Viewport-blockList-button-opacity: 100;
    --Headline-definethebrand-width: 728;
    --Headline-thebrand-width: 427;
    --Headline-writethemusic-width: 664;
    --Headline-themusic-width: 403;
    --Headline-designthebrand-width: 716;
    --Headline-height-group: 144;
    --Headline-mixthemusic-width: 557;
    --Headline-launchthebrand-width: 757;
    --Headline-sharethemusic-width: 675;
    --Viewport-blockDetail-tag-distance: 8;
    --Viewport-blockDetail-noise-opacity: 32;
    --Viewport-conceptimage-size: 104;
    --Viewport-blockDetail-background-height: 120;
    --Viewport-blockList-background-opacity-default-fine: 24;
    --Viewport-blockList-text-opacity-default: 100;
    --Viewport-blockList-gradient: true;
    --Viewport-menu-button-side-margin: 20;
    --Viewport-blockList-bottom-height: 0;
    --Viewport-blockList-max-width-title: var(--Viewport-blockDetail-max-width-title);
    --Viewport-blockList-max-width-textColumn: var(--Viewport-blockDetail-max-width-textColumn);
    --Viewport-blockDetail-max-width-textColumn: var(--Viewport-max-width-textColumnGeneral);
    --Viewport-pricing-min-width: 344;
    --Sizing-L: 64;
    --Viewport-devices-height: 172;
    --Viewport-devices-radius: 5;
    --Viewport-conceptimage-itemminwidth: 187;
    --Viewport-conceptimage-max-component-width: 768;
    --Viewport-conceptimage-plusheight: 104;
    --Viewport-conceptimage-max-component-height: 768;
  }